<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOcial_Media</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body class="container">

    <img src="static/img/login_page.jpeg" alt="" class="dull_image">

<div class="main">
    <span>
        {{ message }}
    </span>
    <br>
    <center>
        <h2>
            
            Login
        </h2>
    </center>
    
     <div class="form">

            <form action="{% url 'Userlogin' %}" method="post">
                {% csrf_token %}

                <div class="block">
                    
                    <label for="">Username :</label>
                    <br>
                    <input type="text" name="username" class="uname" required>
                    <br>
                    <label for="">Password :</label>
                    <br>
                    <input type="password" name="password" class="pass" required>
                    <br>

                    <button type="submit">
                        Submit
                    </button>
                </form>
        </div>


        <br>
        Don't Have An Account ! Create One <a href="create_user">Here</a>
        </div>
</div>

</body>
</html>

