<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visited Profile</title>
    <link rel="stylesheet" href="static/css/search.css">
</head>


<body class="container">

    <div class="user">
        <label for="" style="color: black;" class="user_button">
            Welcome,
            {{ login_user.first_name}}
            {{ login_user.last_name}}
        </label>
    </div>
    

    <div class="main">


        <div class="main1">
            

            <div class="buttons">


                <div>
                    <form method="post" action="{% url 'Social_Media' %}">
                        {% csrf_token %}

                        <input type="hidden" value="{{ login_user.pk }}" name="id_of_user">
                        <button  class="main1_buttons">
                            Home
                        </button>
                    </form>
                </div>


                    <form method="post" action="{% url 'search' %}">
                        {% csrf_token %}

                        <input type="hidden" value="{{ login_user.pk }}" name="id_of_user">
                        <button class="main1_buttons">
                            Search
                        </button>
                    </form>
                        
                    <form method="post" action="{% url 'reels' %}">
                        {% csrf_token %}

                        <input type="hidden" value="{{ login_user.pk }}" name="id_of_user">
                        <button class="main1_buttons">
                            Reels
                        </button>
                    </form>
                    

                    
                    <button class="main1_buttons" onclick="openDiv()">
                        +Create
                    </button>
                        

                    
                    <form method="post" action="{% url 'profile_sub' %}">
                        {% csrf_token %}

                        <input type="hidden" value="{{ login_user.pk }}" name="id_of_user">
                        <button class="main1_buttons">
                            Profile
                        </button>
                    </form>

                </div>

                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}

                    
                <button class="main1_buttons">
                    Log Out
                </button>
                </form>
        </div>



        <div class="main2">

                
            <form action="{% url 'search_action'%}" method="post">
                {% csrf_token %}


                    <input type="hidden" value="{{ login_user.pk }}" name="user_id">

                    <label for="">
                        Search :
                    </label>

                    <input type="text" placeholder="Enter The Username" id="search_bar" name="search_query">
                
                    <button>
                        Submit
                    </button>
            </form>

            <br>
            
            <hr>

            <div class="search_results">
                {% if search_results and search_results|length > 0 and not search_results.0.username %}

                <div class="search_error">{{ search_results }}</div>

                {% else %}

                    {% for k in search_results %}
                
                    <div class="search_names">

                        <div class="name">{{ k.username }}</div>

                        <div class="name">{{ k.first_name }} {{ k.last_name }} </div>

                        <div>
                            <form action="{% url 'follow' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ login_user.pk }}">
                                <input type="hidden" value="{{ k.pk }}" name="follow_id">
                                <button id="follow_button">Follow+</button>
                            </form>
                        </div>
                    
                    </div>
                    <hr>
                    {% empty %}
                    <div class="search_error">No users found.</div>
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>

        






        <div class="main3">

           
        </div>


    </div>


    <div class="post_popup" id="post_popup">
    
        <div class="popup_sub">

            <div class="post_sub">


            <div style="display: flex;justify-content: right;">
                <button onclick="closePost()" class="close">
                    ❎
                </button>
            </div>
            <form action="{% url 'save_posts' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">

                        <input type="hidden" value="{{ login_user.pk }}" name="u_id">

                        <div style="border: 1px solid whitesmoke;">
                            <img src="static/img/camera.png" alt="" class="camera_logo">
                        </div>
                        <div style="margin: 20px;">
                            <label for="post_file">Add Post From Internal :</label>
                            <br>
                            <input type="file" name="post_file">
                            <br><hr><br>
                            <label for="caption">Caption :</label>
                            <input type="text" name="caption">
                            <button type="submit">Upload</button>
   
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

   
    
</body>


<script src="static/js/search.js">

</script>
</html>